# =========================
# Binaries
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
gin-demo
app
main

# =========================
# Build folders
# =========================
/bin/
/tmp/
/build/

# =========================
# Go test
# =========================
*.test
*.out
coverage.out

# =========================
# Dependency directories
# =========================
vendor/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Air
# =========================
.air.toml
tmp/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
